.form{
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
/* .form > * + * {
    margin-top: 20px;
} */
.form label{
    display: none;
}
.form input,
.form textarea{
    padding: 10px 0;
    border:none;
    border-bottom: 2px solid #ccc;
    line-height: 20px;
    font-size: 18px;
    width: 100%;
}
.form textarea{
    padding: 10px 0;
    min-height: 60px;
    height: 100px;
    max-height: 240px;
    resize: vertical;
    
}