/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* cusome style goes below this line */
/* hero -start */
section.bg-main{
    background-image: url(../../images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero > .logo{
    height: 60px;
    

}
.hero > .title{
    font-size: 70px;
    text-transform: uppercase;

}
.hero > .description{
    font-size: 20px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.column{
    display:flex ;
    flex-direction: column;
    gap: 30px;

}
.left-column{
    width: 50%;  

}
.right-column{
    width: 40%;   
    
}
.section-title{
    text-transform: uppercase;
    font-size: 20px;

}
.section-description{
    font-size: 18px;
    color: #777;
    
}
.section-description > a{
    color: red;
    text-decoration: none;  
}
.section-description > a:hover{
    text-decoration: underline;  
}
/* hero - end */

/* main - start */
/* main - end */

/* footer - start */
/* footer - end */