/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* cusome style goes below this line */
/* hero -start */
section.bg-main{
    background-image: url(../../images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.hero{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.hero > .logo{
    height: 60px;
    

}
.hero > .title{
    font-size: 70px;
    text-transform: uppercase;

}
.hero > .description{
    font-size: 20px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.column{
    display:flex ;
    flex-direction: column;
    gap: 30px;

}
.left-column{
    width: 50%;  

}
.right-column{
    width: 40%;   
    
}
.section-title{
    text-transform: uppercase;
    font-size: 20px;

}
.section-description{
    font-size: 18px;
    color: #777;
    
}
.section-description > a{
    color: red;
    text-decoration: none;  
}
.section-description > a:hover{
    text-decoration: underline;  
}

footer.container {
    padding-top: 0;
}
footer > .row {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fffa;
    font-size: 18px;
    line-height: 1.6;
}
.footer-bottom > .logo {
    height: 60px;
    margin: 40px 0;
}
.footer-bottom > .Copyright {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer-bottom a {
    color: #fff;
}
.socials{
    color: #777;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}
.socials > a{
    text-decoration: none;
    font-size: 30px;
    color:#fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    
}
.socials > a:hover{
    background-color: #fff;
    color: var(--main-color);
    
}
.Copyright > *{
    position: relative;
}
.Copyright > *::after {
    content: '';
    width: 0.6px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(50%, -50%);
}
.Copyright > *:last-child::after {
    display: none;
}

@media(max-width: 700px){
    .main-content{
        gap:60px;
        flex-direction: column;
    }
    .column{
        width: 100%;
    
    }
    .right-column{
        width: 100%;   
        
    }
}
@media(min-width: 1100px){
    .form input{
        width: calc(50%-10px);
    }
}